*.pyc
*.pyo
.installed.cfg
.Python
bin/activate
bin/activate_this.py
bin/buildout
bin/easy_install
bin/easy_install-2.6
bin/python
bin/python2.6
develop-eggs
dist
downloads
eggs
include
lib
parts
src/*.egg-info
.google_appengine/
appengine_django/
vendor/atom/
vendor/cleanliness/
vendor/django/
vendor/elementtree/
vendor/epydoc/
vendor/gdata/
vendor/oauth/
vendor/simplejson/
